.card{
    width: 400px !important;
    text-align: center;
    padding:0px !important;
}
.card-content{
    padding: 20px !important;
}
.appLogo{
    width: 80px !important;
    height: 80px !important;
    margin: auto !important;
    color: white !important;
    background-color: #683AB6 !important;
}
.heading{
    margin-top: 20px !important;
}
.loginBtn{
    width: 100% !important;
    border-radius: 0px !important;
    padding: 20px !important;
    color: white !important;
    background-color: #683AB6 !important;
    margin-top: 20px !important;
}
.text{
    margin-top: 10px !important;
}