.chat-box{
    width: 900px !important;
    height: 800px !important;
}
.chat-box-content{
    padding: 0px !important;
    height: 100% !important;
}
.grid-container{
    height: 100% !important;
}
.left-pane{
    height: 100% !important;
    background-color: #683AB6 !important;
    color: white !important;
}
.right-pane{
    height: 100% !important;
    display: flex;
    flex-direction: column;
}
.right-pane-container{
    height: 100% !important;
}
.right-pane-top-bar{
    background-color: #59319e !important;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar-title{
    display: flex;
    align-items: center;
}
.avatar{
    margin-right: 10px !important;
}
.chat-body{
   height: 900px !important;
   padding: 10px !important;
   overflow-y: auto;
   border-bottom: thin solid rgba(0,0,0,0.05);
}
.message-box{
    display: flex;
    align-items: center;
    padding: 10px;
}
.text-input{
    width: 90%;
    height: 100%;
    border:none; 
    outline: none;
}
.sendBtn{
    border-radius: 0px !important;
    height: 100% !important;
}
.current-user{
    margin: 10px;
    border-radius: 5px;
    display: flex;
    padding: 15px;
    background-color: #59319e !important;
    align-items: center;
    
}
.user-name{
    font-size:13px !important;
    margin-left: 10px !important;
    white-space: nowrap;
    width: 90%px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.users-title{
    background-color: #59319e !important;
    padding: 10px;
    margin-top: 20px;
    
}
.users-list{
    height: 650px;
    overflow-y: auto;
    overflow-x: hidden !important;
}
.users-list-item{
    padding: 10px !important;
    border-radius: 0px !important;
    display: flex;
    cursor: pointer;
    color: white !important;
    text-transform: lowercase !important;
    width: 70% !important;
}
.users-list-item:hover{
    background-color: #59319e !important;
}
.status-indicator{
    display: flex;
    align-items: center;
}
.indicator{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 10px;
}
.indicator-text{
    font-size: 13px !important;
}
.from-sender{
    display: flex;
    flex-direction: row-reverse !important;
    padding: 20px;
}
.from-sender-box{
    background-color: #ffdfc5;
    border-radius: 5px;
    padding: 5px;
}
.from-recipient{
    display: flex;
    flex-direction: row !important;
    padding: 20px;
}
.from-recipient-box{
    background-color: #c5deff;
    border-radius: 5px;
    padding: 5px;
}
.msg-date{
    font-size:10px !important;
}
.msg-text{
    font-size: 14px !important;
    word-wrap: break-word;
    max-width: 300px !important;
}
.status{
    display: flex;
    justify-content: space-between;
}
.new-message-indicator{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(42, 204, 104) !important;
    color:white !important;
    display: grid;
    place-items: center;
    font-size:11px;
    font-weight: bold;
}